*{
    font-family:Outfit;
}
.white-background{
    background-color: hsl(0, 0%, 100%);
    position:absolute;
    top:50%; left:50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 15px;
    border-radius: 15px;
    height: 450px;
    width: 275px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#Qr-code-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
}
.text1{
    color: hsl(218, 44%, 22%);
    font-variation-settings: 'wght' 700;
    text-align: center;
    font-size: 20px;
}
.text2{
    font-variation-settings: 'wght' 400;
    text-align: center;
    color: hsl(220, 15%, 55%)
}